# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-functions>=1.18.0
azure-ai-documentintelligence>=1.0.1
azure-storage-blob>=12.19.0,<=12.25.0 
azure-core >=1.35.0
python-dotenv
